<section class="color-light header-index">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="circle">
          <img src="https://image.ibb.co/gMn9vf/main-drum.png" />
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <h2 class="section-title"><%= I18n.t("titles.aboutTheProject") %></h2>
        <div class="text" style="text-align: justify">
          <p class="text-lead"><%= I18n.t("index.intro") %></p>
        </div>
      </div>
    </div>
  </div>
</section>

<%= render partial: "products/post-products", :locals => {:show_products => @products, :see_all_button => true} %>
<%= render partial: "reviews/post_reviews", :locals => {:show_reviews => @reviews, :see_all_button => true} %>
<%= render partial: "pages/post_contact_form" %>
