<section class="color-light products">
  <div class="container conteiner-products">
    <div class="row" style="padding: 0 50px;">
      <% show_products.each do |product| %>
      <div class="col-md-4 col-sm-12">
        <%= link_to product, method: "GET" do %>
        <div class="product">
          <div class="product-bg"></div>
          <div class="product-content">
            <%= image_tag "firstdrum.png" %>
            <div class="row">
              <div class="col-md-8 col-sm-12">
                <h4 class="product-title"><%= product.title %></h4>
                <% if product.size.present? %>
                  <p class="product-params"><%= product.size %> дюймов 8 нот</p>
                <% else %>
                  <p class="product-params">25 дюймов 8 нот</p>
                <% end %>
              </div>
              <div class="col-md-4 col-sm-12 full-height justify-content-center">
                <p class="product-price">$ <%= product.price %></p>
                <a class="product-order-button">заказать</a>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
  <% if see_all_button %>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-4">
        <%= link_to products_path, class: "see-all" do %>
          Посмотреть все<%= icon("fa", "angle-right") %>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</section>
