

<div class="header-products color-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h4 class="section-title">Инструменты</h4>
        <p style="text-align: justify">Играть на нашем инструменте легко и просто, невозможно ошибится в  момент импровизации, ваша Муза всегда будет рядом с вами.
           Нежные проникновенные звуки, яркие и сочные, игра руками или палочками. Все возможно с этим инновационном инструментом.
           Постоянно обновляемая платформа расширит возможности инструмента до центра обработки звука в походных условиях.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-light filter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-12">
        <a class="active" data="all-products">Все</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="small-drums">Маленькие</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="medium-drums">Средние</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="big-drums">Большие</a>
      </div>
      <% if @accessories.present? %>
      <div class="col-md-3 col-sm-12">
        <a data="accessoreis">Аксессуары</a>
      </div>
      <% end %>
      <% if @cases.present? %>
      <div class="col-md-3 col-sm-12">
        <a data="accessoreis">Чехлы</a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content" id="all-products">
  <%= render partial: "post-products", :locals => {:show_products => @products, :see_all_button => false} %>
  <%= render partial: "accessories/post-accessories", :locals => {:show_accessories => @accessories} %>
  <%= render partial: "accessories/post-accessories", :locals => {:show_accessories => @cases, :title => "Чехлы"} %>
</div>
<div class="content" id="small-drums">
  <%= render partial: "post-products", :locals => {:show_products => @small_drums, :see_all_button => false} %>
</div>
<div class="content" id="medium-drums">
  <%= render partial: "post-products", :locals => {:show_products => @medium_drums, :see_all_button => false} %>
</div>
<div class="content" id="big-drums">
  <%= render partial: "post-products", :locals => {:show_products => @big_drums, :see_all_button => false} %>
</div>
<% if @accessoreis.present? %>
<div class="content" id="accessoreis">
  <%= render partial: "accessories/post-accessories", :locals => {:show_accessories => @accessories} %>
</div>
<% end %>
<% if @cases.present? %>
<div class="content" id="accessoreis">
  <%= render partial: "accessories/post-accessories", :locals => {:show_accessories => @cases, :title => "Чехлы"} %>
</div>
<% end %>
