

<div class="header-products color-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <h4 class="section-title">Инструменты</h4>
        <p style="text-align: justify">aaaaaaaaaaaa aaaa aaaaaaaaa aaaaaaaaaaaa aaaaaaaaaa  aaaaaaaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaa.</p>
        <p style="text-align: justify">aaaa aaaaaaaaaaa aaaaaaaaaa aaaaaaaaaaaaaa aaaaaaaaaaaaaaa aaaaaaaaa aaa aaaaa aaaaaт.</p>
      </div>
    </div>
  </div>
</div>

<div class="color-light filter">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-3 col-sm-12">
        <a class="active" data="all-products">Все</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="small-drums">Маленькие</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="medium-drums">Средние</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <a data="big-drums">Большие</a>
      </div>
      <% if @accessoreis.present? %>
      <div class="col-md-3 col-sm-12">
        <a data="accessoreis">Аксессуары</a>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="content" id="all-products">
  <%= render partial: "post-products", :locals => {:show_products => @products+@accessoreis, :see_all_button => false} %>
</div>
<div class="content" id="small-drums">
  <%= render partial: "post-products", :locals => {:show_products => @small_drums, :see_all_button => false} %>
</div>
<div class="content" id="medium-drums">
  <%= render partial: "post-products", :locals => {:show_products => @medium_drums, :see_all_button => false} %>
</div>
<div class="content" id="big-drums">
  <%= render partial: "post-products", :locals => {:show_products => @big_drums, :see_all_button => false} %>
</div>
<% if @accessoreis.present? %>
<div class="content" id="accessoreis">
  <%= render partial: "post-products", :locals => {:show_products => @accessoreis, :see_all_button => false} %>
</div>
<% end %>
