<div class="overlay-modal"></div>
<div class="modal">
  <div class="modal-content">
    <button class="modal-close"><i class="fas fa-times"></i></button>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <h4 class="section-title white">Заполните форму заказа</h4>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-5 col-lg-4 to-end">
          <h4 class="title">Инструмент «<%= @product.title %>»</h4>
          <p><%= @product.size %> дюймов, 8 нот</p>
        </div>
        <div class="col-md-3 col-lg-2 to-end">
          <ul class="choose-color">
            <% @product.colors.each do |color| %>
            <li data="<%= color %>"><%= image_tag color_image_path(color) %></li>
            <% end %>
          </ul>
          <p>Цвет: <span id="selected-color"><%= @product.colors.first %></span></p>
        </div>
        <div class="col-md-2 col-lg-2">
          <p class="product-price"><%= @product.price %>$</p>
        </div>
      </div>
      <%= render partial: "pages/post_order_form" %>
    </div>
  </div>
</div>
