<!DOCTYPE html>
<html>
  <head>
    <title>Tdrumrails</title>
    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|PT+Sans|PT+Sans+Narrow|Roboto|Raleway" rel="stylesheet">

  </head>

  <body>
    <nav class="color-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-4 justify-content-center">
            <ul class="nav-menu">
              <li><%= link_to I18n.t("titles.aboutTheProject"), about_path %></li>
              <li><%= link_to I18n.t("titles.instruments"), products_path %></li>
              <li><%= link_to I18n.t("titles.ai"), ai_path %></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <%= link_to root_path, class: "logo" do %>
              <h4>TetaDrum</h4>
            <% end %>
          </div>
          <div class="col-lg-5 col-md-4 justify-content-center">
            <ul class="nav-menu">
              <li><%= link_to I18n.t("titles.toInvestors"), investors_path %></li>
              <li><%= link_to I18n.t("titles.reviews"), reviews_path %></li>
              <ul class="change-lang">
                <li><%= link_to "рус", change_locale_url(:locale => "ru"), method: "POST" %></li>
                <li><%= link_to "eng", change_locale_url(:locale => "en"), method: "POST" %></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div style="min-height: 80vh" class="color-light">
      <%= yield %>
    </div>

    <footer class="color-deep-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6 col-sm-12" >
            <ul class="contacts">
              <li><%= link_to I18n.t("titles.techProcess"), process_path %></li>
              <li><%= link_to I18n.t("titles.howToPlay"), howtoplay_path %></li>
              <li><%= link_to I18n.t("titles.effects"), effects_path %></li>
              <li><%= link_to I18n.t("titles.interactiveInstrument"), teta_path %></li>
              <li><%= link_to I18n.t("titles.blog"), blog_path %></li>
            </ul>
          </div>
          <div class="col-md-6 col-sm-12">
            <form class="justify-content-center">
              <input placeholder="email/<%= I18n.t('form.phone').downcase %>"></input>
              <button class="button"><%= I18n.t("form.leave") %></button>
            </form>
            <ul class="social-networks">
              <li><a href='https://vk.com/gluckofon'><i class="fab fa-vk"></i></a></li>
              <li><a href='#'><i class="fab fa-facebook-f"></i></a></li>
              <li><a href='#'><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <% if controller_name == "products" && action_name == "show" %>
    <%= render partial: "layouts/dialog" %>
    <% end %>
    <% if controller_name == "reviews" && action_name == "index" %>
    <%= render partial: "reviews/dialog" %>
    <% end %>
  </body>
</html>
