<!DOCTYPE html>
<html>
  <head>
    <title>Tdrumrails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Fira+Sans|Fira+Sans+Condensed|PT+Sans|PT+Sans+Narrow|Roboto|Raleway" rel="stylesheet">

  </head>

  <body>
    <nav class="color-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-4">
            <ul class="nav-menu">
              <li><a href="#">О проекте</a></li>
              <li><a href="#">Инструменты</a></li>
              <li><a href="#">ИИ</a></li>
              <li><a href="#">Обучение игре</a></li>
            </ul>
          </div>
          <div class="col-lg-2 col-md-3">
            <%= link_to root_path, class: "logo" do %>
              <h4>Супер-пупер</h4>
              <h4>Мастерская</h4>
            <% end %>
          </div>
          <div class="col-lg-5 col-md-4">
            <ul class="nav-menu">
              <li><a href="#">Инвесторам</a></li>
              <li><%= link_to "Отзывы", reviews_path %></li>
              <li><a href="#">Контакты</a></li>
              <ul class="change-lang">
                <li><a class="dot" href="#">рус</a></li>
                <li><a href="#">eng</a></li>
              </ul>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>

    <footer class="color-deep-dark">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-4 col-sm-12" style="padding-left: 200px;">
            <h4>Контакты</h4>
            <ul class="contacts">
              <li><a href="#">+7-964-(555)-10-98</a></li>
              <li><a href="#">tdrum@gmail.com</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-sm-12">
            <h4>Адрес</h4>
            <p>aaa aaaaaaa aaaaaaaaaaaaa aaaaaaaa aaaaaaaaaaaaa aaaa aaaaaaaaaaaaaa aaaaaaaa aaaa aaaaaaaaa aaaaaaaaa</p>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-4">
            <ul class="social-networks">
              <li><a href='https://vk.com/gluckofon'><i class="fab fa-vk"></i></a></li>
              <li><a href='#'><i class="fab fa-facebook-f"></i></a></li>
              <li><a href='#'><i class="fab fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
